.light {
  background-color: #ffffff;
  color: #000000;
}


.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .btn {
  background-color: #333;
  color: white;
}

.light .btn {
  background-color: #ddd;
  color: black;
}

.question{
  background-color: grey;
  width: max-content;
  padding: 10px;
  align-self: flex-end; 
  border-radius: 5px;
  margin-bottom: 10px;
}

.answer{
  text-align: left;
align-self: flex-start; 
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.chatcontainer{
  display: flex;
  flex-direction: column;
}

.buttonstyle{
  margin-bottom: 5px;
  white-space: normal;
  word-break: break-all;
}

.buttonfeedstyle {
  width: 15%;
  padding: 5px 15px;
  border:transparent;
  background-color: transparent;
}

.light .buttonfeedstyle{
  color: dark;
}

.dark .buttonfeedstyle{
  color: white;
}

.dark input {
  color: white;
}

.upload-box {
  display: inline-block;
  cursor: pointer;
}

.upload-content {
  width: 40px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  border-radius: 30px;
}

.upload-content:hover {
  background-color: #eeeeee;
}

.dark .upload-content:hover {
  background-color: grey;
}

.dark .input-search {
 color: white;
}

.input-search {
  max-width: 100%;
  padding: 8px 8px;
  border-radius: 50px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: transparent;
  transition: 0.2s;
}